@import "Common/MediaQueries";

.flex-even-distribution { flex-grow: 1; flex-basis: 0; }
.flex-row-container { display: flex; flex-direction: row; flex-wrap: nowrap; }

.bold { font-weight: bold; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.full-width { width: 100%; display: block; }

.no-bookend-margin-vertical { &:first-child { margin-top: 0; } &:last-child { margin-bottom: 0; } }
.margin-vertical { margin-top: 10px; margin-bottom: 10px; }
.margin-horizontal { margin-left: 10px; margin-right: 10px; }
.margin-vertical-half { margin-top: 5px; margin-bottom: 5px; }
.margin-horizontal-half { margin-left: 5px; margin-right: 5px; }

.padding-vertical { padding-top: 10px; padding-bottom: 10px; }
.padding-horizontal { padding-left: 10px; padding-right: 10px; }
.padding-vertical-half { padding-top: 5px; padding-bottom: 5px; }
.padding-horizontal-half { padding-left: 5px; padding-right: 5px; }

.to-lower {
	text-transform: lowercase;
}

.to-upper {
	text-transform: uppercase;
}

.inset-text {
	letter-spacing: 5px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #151515;
}

.font-12 { font-size: 12px; }
.font-14 { font-size: 14px; }
.font-16 { font-size: 16px; }
.font-18 { font-size: 18px; }
.font-20 { font-size: 20px; }
.font-22 { font-size: 22px; }
.font-24 { font-size: 24px; }
.font-26 { font-size: 26px; }
.font-28 { font-size: 28px; }
.font-34 { font-size: 34px; }

.no-phone { @include respond-to(phone) { display: none; } }
.phone-font-12 { @include respond-to(phone) { font-size: 12px; } }
.phone-font-14 { @include respond-to(phone) { font-size: 14px; } }
.phone-font-16 { @include respond-to(phone) { font-size: 16px; } }
.phone-font-22 { @include respond-to(mobile) { font-size: 22px; } }
.phone-font-24 { @include respond-to(mobile) { font-size: 24px; } }
.phone-font-28 { @include respond-to(mobile) { font-size: 28px; } } 

.gray-90 { color: #909090; }
.gray-69 { color: #696969; }
.gray-c8 { color: #c8c8c8; }
.gray-e8 { color: #e8e8e8; }