
$phoneWidth: 480px;
$tabletWidth: 768px;
$desktopWidth: 1024px;

@mixin respond-to($media) {
	@if $media == desktop {
		@media only screen and (min-width: $desktopWidth) { @content; }
	}
	@else if $media == tablet {
		@media only screen and (max-width: $desktopWidth - 1) and (min-width: $phoneWidth + 1) { @content; }
	}
	@else if $media == phone {
		@media only screen and (max-width: $phoneWidth) { @content; }
	}
	@else if $media == mobile {
		@media only screen and (max-width: $tabletWidth - 1) { @content; }
	}
}
